POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DB_PORT=

DATA_SOURCE_URL=
DATA_SOURCE_USERNAME=
DATA_SOURCE_PASSWORD=
DATA_SOURCE_ADMIN_USERNAME=
DATA_SOURCE_ADMIN_PASSWORD=

APP_NAME=
APP_ENV=
PORT=
LOG_LEVEL=